h1{
    font-size: 65px;
    font-family: sans-serif;
    color: orange;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
    text-decoration:underline;
    text-decoration-color:rgb(110, 48, 56)
}

ul{
  background-color: rgb(312, 212, 312);
  font-style: italic;
  line-height: 30px;
  font-size: 1.5em;
  
}
.lista-paragrafo{
  background-color: rgb(312, 212, 312);
}
#ama{
  background-color: yellow;
  width: 300px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
}
#ver {
  background-color: red;
  width: 300px;
  height: 40px;
  text-align: center;
  border: 2px solid black;
}
#mar {
  background-color: brown;
  width: 300px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
}   