.super-mario {
    width: 200px;
    
  }
  
  .goomba {
      position: absolute;
    width: 100px;
    top: 390px;
    left: 50px;
  }
  
  .baloon {
    left: 320px ;
    position: absolute;
    z-index: 2;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 340px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 260px;
    left: 600px;
    z-index: 1;
  }