ol li {
    background-color: yellow;
}

ol li:nth-of-type(odd) {
text-transform: uppercase;
}

ol li:nth-of-type(even) {
    color: green;
}

h1 em, h3 em{
    color: red;
    font-size: 40px;
    border: solid 1px black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: 700px;
}

#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
  } 

  #aliados li a:hover {
    font-weight: 700;
  }

  #aliados li a[href*="stackoverflow"] {
    color: orange;
  }

  #aliados li a[href*="w3schools"] {
    color: green;
  }
  
  #aliados li a[href*="mozilla"] {
    color: black;
  }
  
  #aliados li a[href*="devdocs"] {
    color: yellow;
  }
  
  #aliados li a[href*="trybe"] {
    color: green;
  }